@import '~bulma/bulma';
@import '~bulma-switch';

.canvas {
  background-color: whitesmoke;
}

.syarat {
  margin: 10px;
  background-color: whitesmoke;
  .progress {
    margin-bottom: 2px;
    height: 6px;
  }
}
// Animmasi transition

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
